:root {
  --blue: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #FFF;

  --title: #313131;
  --text: #B6B6B6;
  --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}
$topBarDarkBlue: #3EA1DB;
$topBarLightBlue: #574AE8;
$gradiente-plus: linear-gradient(to right, $topBarLightBlue, $topBarDarkBlue);

@font-face {
  font-family: Lexend;
  src: url('../assets/fonts/LexendDeca-Regular.ttf');
}
@font-face {
  font-family: Inter-Medium;
  src: url('../assets/fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: Inter-Regular;
  src: url('../assets/fonts/Inter-Regular.ttf');
}

@mixin for-phone-only {
  @media (max-width: 767.98px) { @content; }
}

@mixin for-tablet-only {
  @media (min-width: 768px) and (max-width: 1199.98px) { @content; }
}

@mixin for-desktop-only {
  @media (min-width: 1200px) { @content; }
}

body{
  background-color: #f3f5f7;
}

input{
  font-family: 'Inter-Medium';
  color: var(--white);
}
.header{
  background-image: linear-gradient(to right, $topBarLightBlue, $topBarDarkBlue);
  font-family: Arial, Helvetica, sans-serif;

  &__titulo{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    @include for-phone-only{
      width: 80%;
    }
  } 

  &__titulo--item{
    font-family: 'Lexend';
    font-size: 1.5rem;
    color: var(--white);
    margin-top: 2rem;
  }

  &__search{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    // padding-left: 6%;
    // padding-right: 6%;
    width: 50%;
    @include for-phone-only{
      width: 80%;
    }
  }

  &__search--bar{
    width: 100%;
    margin-top: 4rem;
    outline: none;
    margin-bottom: 2rem;
    // background-image: url('../assets/icons/search.svg');
    // background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background: var(--linear)
    url('../assets/icons/search.svg') no-repeat 9px center;
    background-position: 10px 10px; 
    padding: 12px 20px 12px 40px;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--white);
      opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: var(--white);
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: var(--white);
    }
  }
}

.card-container{
  font-family: Arial, Helvetica, sans-serif;
}

.card{
  background-color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  @include for-phone-only{
    width: 70%;
  }
  
  &__info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__data{
    font-family: 'Inter-Regular';
    text-align: left;
    color: var(--text);
    margin: 10px 12px;
    // &::after{
    //   content: url('../assets/icons/heart.svg'); 
    //   position: absolute;
    //   left: 72%;
    //   cursor: pointer;
    //   height: 16px;
    // }
  }
  &__titulo{
    font-family: 'Lexend';
    text-align: left;
    color: var(--title);
    margin: 10px 12px; 
    font-size: 1.5rem;
    // font-family: ;
  }
  &__texto{
    font-family: 'Inter-Medium';
    text-align: left;
    color: var(--text);
    margin: 10px 12px; 
    line-height: 1.5;
  }
}

